{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "semi": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["src/renderer/type/base-content-type-renderer.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": [0]
      }
    },
    {
      "files": ["test/**"],
      "plugins": ["jest-formatting"],
      "extends": ["plugin:jest-formatting/recommended"]
    }
  ]
}
